body{
    text-align: center;
    padding-top: 3%;
    background-color: rgb(131, 196, 253);
}

.conteudo{
    border-style: solid;
    border-radius: 2%;
    border-width: 0.125rem;
    padding: 1% 1% 1% 1%;
    margin-right: 28%; 
    margin-left: 27%;
    border-color: #536470;
}
.titulo{
    margin-bottom: 5%;
    color:#536470;
}
.lbl_titulo{
    color: #536470;
}
#botao{
    background-color: #536470;
    border-color: #536470;
}
#botao_atualizar{
    background-color: #536470;
    border-color: #536470;
    margin-top: 6%;
}
.table{

    margin-right: 2%;
}
#style_table{
    overflow-x:auto;
}